
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/cardExpand.css" />
    <title>Create Your Own Pizza</title>
    <header>
      <h5 style="visibility: hidden; font-size: 0%">CREATE YOUR OWN PIZZA And BESTSELLERS</h5>
    </header>
  </head>
  <body>
    <article class="pizzaBannerArticle">
      <h5 style="visibility: hidden; font-size: 0%">PIZZA BANNER</h5>
      <section class="container">
        <h5 style="visibility: hidden; font-size: 0%">BANNER CONTENTS</h5>
        <secttion class="panel active" style="background-image: url('/img/pizza1.jpg')">
          <h3>CREATE YOUR OWN PIZZA</h3>
        </secttion>
        <secttion class="panel" style="background-image: url('/img/pizza2.jpg')">
          <h3>#1 Bestseller - Cloud 9</h3>
        </secttion>
        <secttion class="panel" style="background-image: url('/img/pizza3.jpg')">
          <h3>#2 Bestseller - Veggie Paradise</h3>
        </secttion>
        <secttion class="panel" style="background-image: url('/img/pizza4.jpg')">
          <h3>#3 Bestseller - Classic Margherita</a></h3>
        </secttion>
        <secttion class="panel" style="background-image: url('/img/pizza5.jpg')">
          <h3>ORDER NOW</h3>
        </secttion>
      </section>
      <a href="/"> BACK TO HOME </a>
    <script src="/js/cardExpand.js"></script>
    </article>
  </body>
</html>