<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://www.cssscript.com/demo/sticky.css" rel="stylesheet" type="text/css">
<meta charset="utf-8">
      <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
      <script src="https://kit.fontawesome.com/a076d05399.js"></script>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <!--CUSTOM CSS-->
      <link rel="stylesheet" href="/css/navigation1.css">
      <!--<link rel="stylesheet" href="./css/mvp.css">-->
      <link rel="stylesheet" href="/css/footer1.css">
<link rel="stylesheet" href="/css/style1.css">
      <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
   
</head>
<body>
 <!--NAV START-->
            <nav>
               <div class="logo">
               <img src="/img/logo.png" alt="logo" >
               </div>
               <label for="btn" class="icon">
                  <span class="fa fa-bars"></span> 
              </label>
              <input type="checkbox" id="btn" style="opacity:0">
              <ul>
                  <li><a href="/">Home</a></li>
                  <li><a href="/menu">Menu </a></li>
                  <li>
                     <!--<label for="btn-1" class="hidden">Menu</label>-->
                     <a href="#">Menu </a>
                     <input type="checkbox" id="btn-1" style="opacity:0">
                     <ul>
                        <li><a href="#">Pizzas</a></li>
                        <li><a href="#">Beverages</a></li>
                        <li><a href="#">Desserts</a></li>
                     </ul>
                  </li>
                  <li><a href="/customer/Myorders">My Orders</a></li>
                  <li><a href="/faq">FAQ's</a></li>
                  <li><a href="/tnc">Terms & Conditions</a></li>
                  <li><a href="/contactus">Contact Us</a></li>
                  <li><a href="#">Log Out</a></li>
              <!--<li class="cart_icon">
               <a href="/cart">
                <img src="./image/cart-black.png" style="width: 100%;">
               </a>
            </li>-->
               </ul>
            </nav>
            <!--NAV END-->
    <h5 style="visibility: hidden; font-size: 0%">Terms and Conditions</h5>
	<h5 style="visibility: hidden; font-size: 0%">FAQs</h5>
  <main>
    <summary id="faq_mainhead"><center>FAQs</center></summary>
    <details open>
    <summary id="faq_heading">How does it work?</summary>
    <article>
    	<h5 style="visibility: hidden; font-size: 0%">Q1</h5>
      <summary id="f_content">It's simple. We go everywhere you want, whenever you want and make you fresh, scratch made. Real Ingredients, real chefs and a real brick oven - all for real pizza lovers.</summary>
    </article>
 </details>
  <details>
    <summary id="faq_heading">How to make our customized pizza?</summary>
    <article>
    	<h5 style="visibility: hidden; font-size: 0%">Q2</h5>
      <summary id="f_content"> Easy Cheesy is truly a design your own pizza restaurant, so we don't just have a list of toppings that you can choose from. We strive to make every part of your pizza customizable. This means that you can choose from different crusts, different sauces, different cheeses and also different toppings.</summary>
    </article>
  </details>
    <details>
    <summary id="faq_heading">Is there any predefined menu?</summary>
    <article>
    	<h5 style="visibility: hidden; font-size: 0%">Q3</h5>
      <summary id="f_content">Yes, we do have our predefined menu. </summary>
    </article>
  </details>
  <details>
    <summary id="faq_heading">What forms of payment can we use?</summary>
    <article>
    	<h5 style="visibility: hidden; font-size: 0%">Q4</h5>
      <summary id="f_content">"Cash on Delivery" is only available as payment method. 
      </summary>
    </article>
  </details>
<details>
    <summary id="faq_heading">How will I know the restaurant has received my online order?</summary>
    <article>
      <h5 style="visibility: hidden; font-size: 0%">Q5</h5>
      <summary id="f_content">Once you submit your order, the order tracking screen will display a tick mark against ‘Order Confirmation’ status. You will also receive a confirmation SMS. 
      </summary>
    </article>
  </details>
<!--<details>
    <summary id="faq_heading">How can I place my order, if my delivery location is not listed for online ordering?</summary>
    <article>
      <h5 style="visibility: hidden; font-size: 0%">Q6</h5>
      <summary id="f_content">In case the delivery location is not listed on the website or app, delivery orders cannot be placed. However, you may choose to pick up your order from Easy Cheesy using the app/website/m-site. 
      </summary>
    </article>
  </details>
  <details>
    <summary id="faq_heading">What is the minimum order amount for delivery?</summary>
    <article>
      <h5 style="visibility: hidden; font-size: 0%">Q7</h5>
      <summary id="f_content">Minimum order amount for delivery is Rs 200 (inclusive of taxes).
      </summary>
    </article>
  </details>
<details>
    <summary id="faq_heading">Can I modify/cancel my online order?</summary>
    <article>
      <h5 style="visibility: hidden; font-size: 0%">Q8</h5>
      <summary id="f_content">The online order once placed cannot be modified or cancelled, either through the website or offline by calling the restaurant or our call center.
      </summary>
    </article>
  </details>
  <details>
    <summary id="faq_heading">What is Contactless Delivery?</summary>
    <article>
      <h5 style="visibility: hidden; font-size: 0%">Q9</h5>
      <summary id="f_content">Contactless Delivery means that there will be no direct contact between customer and delivery rider. Meal will be placed in a pre-agreed location and avoid touching or close face to face contact.
      </summary>
    </article>
  </details>
  <details>
    <summary id="faq_heading">Do I need to pay taxes on my order?</summary>
    <article>
      <h5 style="visibility: hidden; font-size: 0%">Q10</h5>
      <summary id="f_content">Yes. All prices mentioned on the websit eare exclusive of taxes.
      </summary>
    </article>
  </details>-->
   </main>
    <!--FOOTER START-->
   <footer id="customfooter" style="width: 100vw;" >
      <canvas id="footercanvas" style="width: 100vw;"></canvas>
   <div class="container-foot" id="footeroverlay">
      
      <div class="row-foot">
        <div class="footer-col-1"> 
         <a href="#" class="btn btn-danger" style="color:blue;">FAQs</a><br><br>
         <a href="#" class="btn btn-danger" style="color:blue;">TERMS & CONDITIONS</a><br><br>
         <a href="#" class="btn btn-danger" style="color:blue;">CONTACT US</a>
        </div>
        <div class="footer-col-2" >
          <a href="#" class="btn btn-danger"><i class="fab fa-facebook-f"></i></a>
          <a href="#" class="btn btn-danger"><i class="fab fa-twitter"></i></a> 
          <a href="#" class="btn btn-danger"><i class="fab fa-instagram"></i></a>
          <a href="#" class="btn btn-danger"><i class="fab fa-linkedin-in"></i></a>
        </div>
      </div>
     </div>
   </footer>
</body>
<script src="./js/footerAnimation.js"></script>
<!--FOOTER END-->
</body>
</html>
