<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://www.cssscript.com/demo/sticky.css" rel="stylesheet" type="text/css">
<meta charset="utf-8">
      <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
      <script src="https://kit.fontawesome.com/a076d05399.js"></script>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <!--CUSTOM CSS-->
      <link rel="stylesheet" href="/css/navigation1.css">
      <!--<link rel="stylesheet" href="./css/mvp.css">-->
      <link rel="stylesheet" href="/css/footer1.css">
<link rel="stylesheet" href="/css/style.css">
      <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
   
</head>
<body>
 <!--NAV START-->
            <nav>
               <div class="logo">
               <img src="/img/logo.png" alt="logo" >
               </div>
               <label for="btn" class="icon">
                  <span class="fa fa-bars"></span> 
              </label>
              <input type="checkbox" id="btn" style="opacity:0">
              <ul>
                  <li><a href="/">Home</a></li>
                  <li><a href="/menu">Menu </a></li>
                  <li>
                     <!--<label for="btn-1" class="hidden">Menu</label>-->
                     <a href="#">Menu </a>
                     <input type="checkbox" id="btn-1" style="opacity:0">
                     <ul>
                        <li><a href="#">Pizzas</a></li>
                        <li><a href="#">Beverages</a></li>
                        <li><a href="#">Desserts</a></li>
                     </ul>
                  </li>
                  <li><a href="/customer/Myorders">My Orders</a></li>
                  <li><a href="/faq">FAQ's</a></li>
                  <li><a href="/tnc">Terms & Conditions</a></li>
                  <li><a href="/contactus">Contact Us</a></li>
                  <li><a href="#">Log Out</a></li>
              <!--<li class="cart_icon">
               <a href="/cart">
                <img src="./image/cart-black.png" style="width: 100%;">
               </a>
            </li>-->
               </ul>
            </nav>
            <!--NAV END-->
    <h5 style="visibility: hidden; font-size: 0%">Terms and Conditions</h5>
  <main>
    <summary id="tc_heading"><center>TERMS AND CONDITIONS</center></summary>
    <article>
      <h5 style="visibility: hidden; font-size: 0%">t&c</h5>
      <summary id="tc_content" open>*Our Website "EASY CHEESY" welcomes you to its website (the “Site”)! These "Terms of Use" apply exclusively to your access to, and use of, this Site so please read them carefully.
        *EASY CHEESY reserves the right to change or modify any of the terms contained in these Terms of Use, at any time and in its sole discretion without prior notification. Any changes or modification will be effective upon posting of the revisions to this Site. Your continued use of this Site following the posting of its changes or modifications will constitute your acceptance of such changes or modifications. Therefore, you should frequently review the Terms of Use from time-to-time to understand the terms and conditions that apply to your use of this Site.
        *BY ACCESSING, BROWSING, AND USING THIS SITE, YOU AGREE TO BE BOUND BY THESE TERMS OF USE AND ANY SUBSEQUENT CHANGES THERETO.
    </summary>
    </article>
   </main>
    <!--FOOTER START-->
   <footer id="customfooter" style="width: 100vw;" >
      <canvas id="footercanvas" style="width: 100vw;"></canvas>
   <div class="container-foot" id="footeroverlay">
      
      <div class="row-foot">
        <div class="footer-col-1"> 
         <a href="#" class="btn btn-danger" style="color:blue;">FAQs</a><br><br>
         <a href="#" class="btn btn-danger" style="color:blue;">TERMS & CONDITIONS</a><br><br>
         <a href="#" class="btn btn-danger" style="color:blue;">CONTACT US</a>
        </div>
        <div class="footer-col-2" >
          <a href="#" class="btn btn-danger"><i class="fab fa-facebook-f"></i></a>
          <a href="#" class="btn btn-danger"><i class="fab fa-twitter"></i></a> 
          <a href="#" class="btn btn-danger"><i class="fab fa-instagram"></i></a>
          <a href="#" class="btn btn-danger"><i class="fab fa-linkedin-in"></i></a>
        </div>
      </div>
     </div>
   </footer>
</body>
<script src="./js/footerAnimation.js"></script>
<!--FOOTER END-->
</body>
</html>
