/* styling used for navigation menu  */

@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
* {
  margin: 0;
  padding: 0;
  user-select: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
img {
  display: block;
  margin-left: 0px;
  margin-right: 0px;
  width: 20%;
}
body {
  background: white;
}

header {
  background: orange;
}
header:after {
  content: "";
  clear: both;
  display: table;
}
header .logo {
  float: left;
  color: white;
  font-size: 27px;
  font-weight: 600;
  line-height: 70px;
  padding-left: 60px;
}
header ul {
  float: right;
  margin-right: 40px;
  list-style: none;
  position: relative;
}
header ul li {
  float: left;
  display: inline-block;
  background: orange;
  margin: 0 5px;
}
header ul li a {
  color: white;
  line-height: 70px;
  text-decoration: none;
  font-size: 18px;
  padding: 8px 15px;
}
header ul li a:hover {
  color: rgb(255, 102, 0);
  border-radius: 5px;
}
header ul ul li a:hover {
  box-shadow: none;
}
header ul ul {
  position: absolute;
  top: 90px;
  border-top: 3px solid orange;
  opacity: 0;
  visibility: hidden;
  transition: top 0.3s;
}
header ul ul ul {
  border-top: none;
}
header ul li:hover > ul {
  top: 70px;
  opacity: 1;
  visibility: visible;
}
header ul ul li {
  position: relative;
  margin: 0px;
  width: 150px;
  float: none;
  display: list-item;
  border-bottom: 1px solid rgb(255, 102, 0);
}
header ul ul li a {
  line-height: 50px;
}
header ul ul ul li {
  position: relative;
  top: -60px;
  left: 150px;
}

.show,
.icon,
input {
  display: none;
}
.fa-plus {
  font-size: 15px;
  margin-left: 40px;
}
@media all and (max-width: 968px) {
  header ul {
    margin-right: 0px;
    float: left;
  }
  header .logo {
    padding-left: 30px;
    width: 100%;
  }
  .show + a,
  ul {
    display: none;
  }
  header ul li,
  header ul ul li {
    display: block;
    width: 100%;
  }
  header ul li a:hover {
    box-shadow: none;
  }
  .show {
    display: block;
    color: white;
    font-size: 18px;
    padding: 0 20px;
    line-height: 70px;
    cursor: pointer;
  }
  .show:hover {
    color: rgb(255, 102, 0);
  }
  .icon {
    display: block;
    color: white;
    position: absolute;
    top: 0;
    right: 40px;
    line-height: 70px;
    cursor: pointer;
    font-size: 25px;
  }
  header ul ul {
    top: 70px;
    border-top: 0px;
    float: none;
    position: static;
    display: none;
    opacity: 1;
    visibility: visible;
  }
  header ul ul a {
    padding-left: 40px;
  }
  header ul ul ul a {
    padding-left: 80px;
  }
  header ul ul ul li {
    position: static;
  }
  [id^="btn"]:checked + ul {
    display: block;
  }
  header ul ul li {
    border-bottom: 0px;
  }
  span.cancel:before {
    content: "\f00d";
  }
}
.content {
  z-index: -1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
p {
  font-size: 30px;
  font-weight: 500;
}
