#buttondiv {
  position: absolute;
  right: 10;
  bottom: 10;
}

#customArea {
  height: 100%;
  margin: 0;
}

#sidebar {
  background-color: #101820ff;
  overflow-y: scroll;
  height: 100%;
}

#mainArea {
  background-color: #f2aa4cff;
  height: 100%;
  padding: 0;
}

h3 {
  color: #f2aa4cff;
  margin: 0;
  padding: 0 20px;
  font-weight: normal;
  line-height: 2;
  text-transform: uppercase;
  font-size: 90%;
}

#cpelement_nav #cpelement_ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#cpelement_nav #cpelement_ul .cpelement_li {
  padding: 20px;
  color: #ccc;
}

.content-img {
  width: 100%;
}

#customfooter {
  position: relative;
  width: 100%;
  height: 200px;
  background-color: #e94b3cff;
}

#footeroverlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}
