<html>
    <body>
        <link href="/css/adminorder.css" rel="stylesheet" type="text/css">
        <script src="/js/app.js" type="module"></script>
        <table>          
            <thead>
            <tr>
                <th scope="col">Orders</th>
                <th scope="col">Customer</th>
                <th scope="col">Address</th>
                <th scope="col">Status</th>
                <th scope="col">Placed at</th>
                <th scope="col">Payment Status</th>
            </tr>
            </thead>
                <tbody id="orderTableBody">

                </tbody>
        </table>
    </body>
</html>